*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#First-div{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 22rem 0;
    text-align: center;
}

.all a{
    text-decoration: none;
}

.left a {
    color: #ffc800;
    font-size: 700;
}

.right a {
    color: #FFFFFF;
    padding-left: 20px;
}

header{
    padding: 20px 4rem;
    position: fixed;
    width: 100%;
    overflow: auto;
}

header .left{
    float: left;
}

header .right{
    float: right;
}

#First-div{
    color: #FFFFFF;
}

#First-div h1{
    margin-top: 35px;
    margin-bottom: 4rem;
}

#First-div a {
    color: #FFFFFF;
    background-color: #ffc800;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 20px 40px;
    border-radius: 3px;

}   
#Second-div{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Second-top{
    text-align: center;
    margin: 60px;
}

#Second-bottom{
    margin-top: 100px;
    width: 100%;

}

#Second-div img{
    width: 130px;
    
    }
#Second-bottom h2{  
    margin-top:15px ;
    margin-bottom:20px ;
}
.box{
    float: left;
    width: 30%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    text-align: center;
    
}

.Third-div{
    background-color: #F8F9FA;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:  50px;
}

.third-h
{
    text-align: center;
    padding-top: 25px;
    margin: 10px;
    
}

.third-btn{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
    
   
}
.thrid-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin: 10px 10px;
    background-color: #FFFFFF;

}

.thrid-box p{
font-size: large;
margin: 5px 10px;
}

.thrid-box img{
    width: 100%;
} 




#Four-div{
background-color: #F8F9FA;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
padding-top: 40px;
padding-bottom: 70px;

}
.Four-box{
    float: left;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Four-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 70px;

}

#Four-bottom img{
    width: 240px;
}

.Four-pp{
    padding: 20px;
}

#Four-p{
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

#Five-div img{
    width: 100%;
}

#Six-div{
    background-color: #F8F9FA;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}
#Six-div img{
    width: 12%;
    margin: 15px;

  
    
}   

#Six-div a{
    text-decoration: none;
    color: #000;
    padding-right: 10px;
   
    

    
}